@model IEnumerable<SanMarinoClassicWebsite.Components.AdminMenuItem>
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using SanMarinoClassicWebsite.Auth

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<li class="active">
    <a asp-controller="Admin"
       asp-action="Index"
       class="animsition-link">@UserManager.GetUserAsync(User).Result.FirstName!</a>
    <ul>
        @foreach (var menuItem in Model)
        {
            <li class="animsition-link">
                <a asp-controller="Admin" asp-action=@menuItem.ActionValue>@menuItem.DisplayValue</a>
            </li>
        }
    </ul>
</li>