
  <h2>Contact San Marino Classic</h2>
    <p>If you have, any questions, please don't hesitate to get in touch. Click below to send.</p>

<email address="kikazaru29@@gmail.com" content="Contact Us"></email>