@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using SanMarinoClassicWebsite.Auth

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (SignInManager.IsSignedIn(User))
{   
    <li>
        <a asp-action="Index" asp-controller="Home" class="nav navbar-brand">Welcome @UserManager.GetUserAsync(User).Result.FirstName!</a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="Logout"  id="list" class="animsition-link">Log off</a>
    </li>

}
else
{
    <li><a id="registerLink" asp-controller="Account" asp-action="Register">Register</a></li>
    <li><a id="loginLink" asp-controller="Account" asp-action="Login">Log in</a></li>
}