@model Equipment

<div class="thumbnail">
    <img alt="@Model.EquipmentShortDescription" src="@Model.ImageThumbnailUrl">
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price.ToString("c")</h3>
        <h3>
            <a href="#">@Model.EquipmentShortDescription</a>
        </h3>
        <p class="button">
            <a class="btn btn-primary">Add to cart</a>
        </p>
    </div>
</div>
